<h2>Log In</h2>

<h3>
    <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <label>Username AKA Email:
            <input type="email" name="user[email]">
        </label>
        <br>
        <label>Password:
            <input type="password" name="user[password]">
        </label>
        <br>
        <input type="submit" value="toooo infinity and beyond...">
    </form>
</h3>