<h1>Add an Album</h1>

<form action="<%= albums_url %>" method="post">
    <%= auth_token %>
    <label>Year:
        <input type="text" name="album[year]">
    </label>
    <br>
    <label>Title:
        <input type="text" name="album[title]">
    </label>
    <br>
    <label>Recorded:
        <input type="radio" value="true">
        <label for="live" name="album[live] value="TRUE"></label>
        <input type="radio" value="false" checked>
        <label for="studio" name="album[live] value="FALSE"></label>
    </label>
    <br>
    <input type="submit" value="Add Album">
</form>